body {
  font-family: 'AxLLCircular';
}

button {
  font-family: 'AxLLCircular';
  margin: 10px;
  padding: 5px 10px;
  font-weight: 500;
  cursor: pointer;
  background-color: #612fff;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
}

@font-face {
  src: url('https://checkout.airwallex.com/fonts/CircularXXWeb/CircularXXWeb-Bold.woff');
  font-family: 'AxLLCircular';
  weight: 'bold';
}
@font-face {
  src: url('https://checkout.airwallex.com/fonts/CircularXXWeb/CircularXXWeb-Regular.woff2');
  font-family: 'AxLLCircular';
  weight: '400';
}
