body {
  margin: 0;
  font-family: 'AxLLCircular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  src: url('https://checkout.airwallex.com/fonts/CircularXXWeb/CircularXXWeb-Bold.woff');
  font-family: 'AxLLCircular';
  weight: 'bold';
}

@font-face {
  src: url('https://checkout.airwallex.com/fonts/CircularXXWeb/CircularXXWeb-Regular.woff2');
  font-family: 'AxLLCircular';
  weight: '400';
}
