/**
 * index.css
 * Airwallex Payment Demo - React.  Created by Josie Ku.
 *
 * This file provides styling to the demo site.  This is not required for the integration.
 */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
